*{
    text-align: center;
    font-family: Georgia;
}
header,footer{
    background-color: tomato;
    color: MistyRose;
    padding: 10px;
}
nav{
    width: 20%;
    float: left;
}
div{
    background-color: #FFAEA5;
    height: 170px;
    font-size: 200%;
}
#a{
   background-color: MistyRose; 
}
main{
    background-color: MistyRose;
    width: 80%;
    height: 510px;
    overflow: auto;
}
#s,#p{
    display: none;
}
table{
    margin: auto;
    width: 60%;
    border: 1px dashed indigo;
}
select,button{
    margin: 20px;
}
Dt,dl{
    font-style: italic;
    font-size: bold;
}
dt:hover{
    font-size: 180%;
}